QQ/
clash/
clash-verge/
yesplaymusic/
google-chrome/
godot/
go/
github-copilot/
glib-2.0/
libreoffice/
matplotlib/
mihomo/
menus/
mozc/
mpv/
navicat/
VirtualBox/
sing-box
qBittorrent/
qutebrowser/
obs-studio/
Electron/
JetBrains/
Meltytech/
Modartt/
Mousepad/
Ultralytics
Typora/
Xmind/
baidunetdisk/
blender/
fcitx/
fcitx5/
enchant/
jgit/
kdedefaults/
libfm/
nextjs-nodejs/
Code/
Code - OSS/
Cursor/
xournalpp
procps/
cef_user_data/
ibus/
xfce4/
retroarch/
io.github.clash-verge-rev.clash-verge-rev/
Trolltech.conf
pulse/
GIMP/
sslogdir/*
gpick/
