zmodule completion
zmodule gitster
zmodule prompt-pwd
zmodule utility
zmodule git-info

zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-autosuggestions
zmodule zdharma-continuum/fast-syntax-highlighting
zmodule hlissner/zsh-autopair
zmodule jeffreytse/zsh-vi-mode
zmodule Aloxaf/fzf-tab
